{
	admin off
	persist_config off
	auto_https off
	servers {
		trusted_proxies static private_ranges 100.0.0.0/8
	}
}

:{$PORT:3000} {
	root * dist
	encode gzip
	file_server
	try_files {path} /index.html
}
